@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  background: #203f7b;
  color: #fff;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 70px;
      &:hover {
        cursor: pointer;
      }
    }
    h1 {
      margin-left: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .auth {
    ul {
      list-style-type: none;
      display: flex;
      li {
        font-size: 16px;
        &:first-child {
          margin-right: 20px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.main-block {
  margin: 50px 10%;

  .search {
    width: 25%;
    margin: 0 auto;
    position: relative;
    transition: width 800ms ease;

    input {
      background: #f5f5f5;
      width: 100%;
      height: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      outline: none;
      padding: 5px;
      padding-left: 45px;
      border: 0px;
      border-radius: 20px;
    }
    img {
      max-width: 30px;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    &:hover {
      width: 50%;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .skeleton {
      padding: 10px 10px;

      &:nth-child(-n + 2) {
        margin-top: 50px;
      }
    }

    .card-block {
      width: 500px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      padding: 20px 10px;
      transition: all 500ms ease;
      margin-top: 40px;

      &:hover {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        transform: scale(1.01);
      }

      .main-image {
        position: relative;
        img {
          display: block;
          margin: 0 auto;
          max-width: 400px;
          border-radius: 25px;
        }
        .like {
          width: 30px;
          height: 30px;
          background: rgb(255, 255, 255);
          position: absolute;
          right: 60px;
          top: 10px;
          border-radius: 7px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          img {
            margin: 7px 5px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .info {
        margin: 0 10%;
        h3 {
          text-align: center;
          padding: 10px 0;
          font-weight: 500;
        }

        .game-info {
          li {
            list-style-type: none;
            font-size: 16px;
            font-weight: 300;

            &:last-child {
              margin-bottom: 10px;
            }
          }
        }

        button {
          width: 100%;
          background: #203f7b;
          color: #fff;
          padding: 10px;
          border: 0;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
