@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  background: #203f7b;
  color: #fff;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    .logo {
      display: flex;
      align-items: center;
      img {
        max-width: 70px;
        &:hover {
          cursor: pointer;
        }
      }
      h1 {
        margin-left: 20px;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .auth {
    .loggedOut {
      list-style-type: none;
      display: flex;

      li {
        font-size: 16px;
        &:first-child {
          margin-right: 30px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }

    .loggedIn {
      list-style-type: none;
      display: flex;
      li {
        font-size: 16px;
        &:nth-child(-n + 2) {
          margin-right: 30px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.main-block {
  margin: 50px 10%;
  position: relative;
  min-height: 50vh;

  .search {
    width: 100%;
    margin: 0 auto;
    position: relative;
    transition: width 800ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      background: #f5f5f5;
      width: 80%;
      height: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      outline: none;
      padding: 5px;
      padding-left: 50px;
      border: 0px;
      border-radius: 10px;
    }
    img {
      max-width: 30px;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    button {
      background: #203f7b;
      color: #fff;
      font-size: 1em;
      font-weight: 500;
      padding: 15px;
      border: 0;
      border-radius: 10px;
      width: 10%;

      &:hover {
        cursor: pointer;
      }
    }

    .dropdown-block {
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      width: 85%;
      border: 1px solid #203f7b;
      border-radius: 5px;
      z-index: 1;

      a {
        text-decoration: none;
        color: #000;

        p {
          padding: 10px 40px;
        }
      }

      a:not(:last-child) {
        p {
          border-bottom: 1px solid #203f7b;
        }
      }
    }
  }

  .search-results {
    text-align: center;
    padding-top: 30px;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .skeleton {
      padding: 10px 10px;

      &:nth-child(-n + 2) {
        margin-top: 50px;
      }
    }

    .error-info {
      width: 225%;
      text-align: center;
      padding: 100px 10px;

      p {
        padding: 10px 0;
      }
    }

    .card-block {
      width: 45%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      padding: 20px 10px;
      transition: all 500ms ease;
      margin-top: 40px;

      &:hover {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        transform: scale(1.01);
      }

      .main-image {
        position: relative;

        img {
          display: block;
          margin: 0 auto;
          max-width: 90%;
          max-height: 80%;
          border-radius: 25px;
        }
        .like {
          width: 30px;
          height: 30px;
          background: rgb(255, 255, 255);
          position: absolute;
          right: 40px;
          top: 10px;
          border-radius: 7px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          img {
            margin: 5px;
            width: 20px;
            height: 20px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .info {
        margin: 0 10%;
        h3 {
          text-align: center;
          padding: 10px 0;
          font-weight: 500;
        }

        .game-info {
          li {
            list-style-type: none;
            font-size: 16px;
            font-weight: 300;

            &:last-child {
              margin-bottom: 10px;
            }
          }
        }

        button {
          width: 100%;
          background: #203f7b;
          color: #fff;
          padding: 10px;
          border: 0;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.full-info {
  width: 70%;
  margin: 5% 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 2.5% 5%;
  transition: all 500ms ease;

  &:hover {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
  }

  .front-block {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .image {
      position: relative;
      width: 60%;

      .main-picture {
        max-width: 100%;
        border-radius: 25px;
      }

      .like {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        background: rgb(255, 255, 255);
        border-radius: 7px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        img {
          margin: 5px;
          width: 20px;
          height: 20px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .game-info {
      width: 40%;
      padding-top: 20px;
      padding-left: 50px;
      h2 {
        text-align: center;
      }
      ul {
        li {
          list-style-type: none;
          font-weight: 300;
          line-height: 2;

          &:first-child {
            margin-top: 30px;
          }
        }
      }
    }
  }
  h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
  }
}

.auth-form {
  width: 80%;
  margin: 80px 10%;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
  .authTransition {
    text-align: center;
  }
}

.favourite-block {
  margin: 50px 10%;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .fav-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .card-position {
      position: relative;
      width: 47%;
      padding-bottom: 50px;

      .card {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 20px 10px;
        transition: all 500ms ease;

        &:hover {
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          transform: scale(1.01);
        }

        img {
          max-width: 90%;
          display: block;
          margin: 0 auto;
          border-radius: 30px;
        }

        h3 {
          text-align: center;
          padding-top: 15px;
          font-weight: 400;
        }
      }

      .close {
        top: 0px;
        right: 0px;
        width: 30px;
        position: absolute;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.history {
  margin: 50px 10%;

  h1 {
    text-align: center;
  }

  &__info {
    margin: 30px 10%;
    border: 0.5px solid rgb(200, 200, 200);
    width: 70%;

    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0.5px solid rgb(200, 200, 200);

      .wrapper {
        padding: 14px;
        width: 50%;
        display: flex;
        justify-content: center;

        span {
          font-weight: 500;
          font-size: 18px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 25px;
        max-height: 25px;

        &:hover {
          cursor: pointer;
        }
      }

      .loaderPosition {
        position: relative;
        right: 178px;
        bottom: 15px;
      }
    }
  }
}

.empty {
  padding: 100px 0px;
  width: 100%;

  img {
    max-width: 20%;
    display: block;
    margin: 0 auto;
    animation: rotation 20s infinite linear;
  }
  h2 {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    padding: 15px 0;
  }
}

.error-block {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    padding: 20px 0;
  }

  button {
    padding: 5px 30px;
    font-family: 'Montserrat', sans-serif;
    a {
      text-decoration: none;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

///////// 480 PX

@media (max-width: 480px) {
  header {
    a {
      .logo {
        img {
          max-width: 26px;
        }
        h1 {
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }

    .auth {
      .loggedOut {
        li {
          font-size: 12px;
          &:first-child {
            margin-right: 16px;
          }
        }
      }

      .loggedIn {
        li {
          font-size: 12px;
          &:nth-child(-n + 2) {
            margin-right: 16px;
          }
        }
      }
    }
  }

  .main-block {
    .search {
      button {
        display: none;
      }

      .dropdown-block {
        width: 97%;
      }
    }

    .cards {
      .card-block {
        width: 90%;

        .main-image {
          position: relative;

          .like {
            right: 30px;
          }
        }
      }
    }
  }

  .full-info {
    width: 80%;
    margin: 5% 5%;
    padding: 7.5% 5%;

    .front-block {
      flex-direction: column;

      .image {
        position: relative;
        width: 100%;

        .like {
          top: 10px;
        }
      }

      .game-info {
        width: 70%;
      }
    }
  }

  .auth-form {
    width: 90%;
    margin: 150px 5%;

    div {
      width: 100%;
    }
  }

  .favourite-block {
    margin: 50px 5%;

    .fav-cards {
      flex-direction: column;

      .card-position {
        width: 100%;
        .card {
          img {
            max-width: 90%;
          }
        }
      }
    }
  }

  .history {
    h1 {
      text-align: center;
    }

    &__info {
      margin: 30px 5%;
      width: 90%;

      &__block {
        .loaderPosition {
          position: relative;
          right: 47px;
          bottom: 15px;
        }
      }
    }
  }

  .empty {
    width: 100%;

    img {
      max-width: 80%;
    }
    h2 {
      width: 100%;
    }
  }
}

//////// 660 PX

@media screen and (min-width: 480px) and (max-width: 660px) {
  header {
    a {
      .logo {
        img {
          max-width: 42px;
        }
        h1 {
          margin-left: 10px;
          font-size: 28px;
        }
      }
    }

    .auth {
      .loggedOut {
        li {
          font-size: 12px;
          &:first-child {
            margin-right: 16px;
          }
        }
      }

      .loggedIn {
        li {
          font-size: 14px;
          &:nth-child(-n + 2) {
            margin-right: 16px;
          }
        }
      }
    }
  }

  .main-block {
    .search {
      button {
        display: none;
      }

      .dropdown-block {
        width: 90%;
      }
    }

    .cards {
      .card-block {
        width: 90%;

        .main-image {
          position: relative;

          .like {
            right: 36px;
          }
        }
      }
    }
  }

  .full-info {
    width: 80%;
    margin: 5% 5%;
    padding: 7.5% 5%;

    .front-block {
      flex-direction: column;

      .image {
        position: relative;
        width: 100%;

        .like {
          top: 10px;
        }
      }

      .game-info {
        width: 70%;
      }
    }
  }

  .auth-form {
    width: 90%;
    margin: 150px 5%;

    div {
      width: 100%;
    }
  }

  .favourite-block {
    margin: 50px 5%;

    .fav-cards {
      flex-direction: column;

      .card-position {
        width: 100%;
        .card {
          img {
            max-width: 90%;
          }
        }
      }
    }
  }

  .history {
    h1 {
      text-align: center;
    }

    &__info {
      margin: 30px 5%;
      width: 90%;

      &__block {
        .loaderPosition {
          position: relative;
          right: 81px;
          bottom: 15px;
        }
      }
    }
  }

  .empty {
    width: 70%;
    margin: 0 15%;

    img {
      max-width: 70%;
    }
    h2 {
      margin: 20px auto;
    }
  }
}
